.file-upload-wrapper {
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;
}

/* Style for the input field that shows the selected file name */
.file-upload-wrapper input[matInput] {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 14px;
  color: #555;
}

/* Button styling to open file dialog */
.file-upload-wrapper button {
  /* padding: 0; */
  margin-left: 8px;
}

/* Adjust margin for the file input field */
mat-form-field {
  margin-bottom: 16px;
}
.max-500 {
  max-width: 500px;
}
.upload-button {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}
.upload-button span {
  align-self: center;
}
