<div class="card-container">
  <mat-card
    class="card card-image"
    [routerLink]="['/view-list']"
    [style.backgroundImage]="'url(/ui/files.png)'"
  >
    <div class="overlay">
      <p class="tile-text">My Files ({{ dashboardData?.fileCount || 0 }})</p>
    </div>
  </mat-card>

  <mat-card
    class="card card-image"
    [routerLink]="['/upload']"
    [style.backgroundImage]="'url(/ui/file-upload.png)'"
  >
    <div class="overlay">
      <p class="tile-text">Upload</p>
    </div>
  </mat-card>

  <mat-card
    class="card card-image"
    [routerLink]="['/profile']"
    [style.backgroundImage]="'url(/ui/profile.png)'"
  >
    <div class="overlay">
      <p class="tile-text">Profile</p>
    </div>
  </mat-card>

  <mat-card
    *ngIf="canAddUser"
    class="card card-image"
    [routerLink]="['/admin', 'add-user']"
    [style.backgroundImage]="'url(/ui/add-user.png)'"
  >
    <div class="overlay">
      <p class="tile-text">Add user</p>
    </div>
  </mat-card>
</div>
