<mat-card *ngIf="selectedUser">
  <mat-card-header>
    <mat-toolbar>
      <span
        >Chat with <b>{{ selectedUsername }}</b></span
      >
      <!-- {{fromUser.name}} => -->
      <span class="spacer"></span>
      <button
        mat-button
        (click)="callUser()"
        [disabled]="chatActivityState == 'inactive'"
      >
        <mat-icon>phone</mat-icon> Call
      </button>
      <!-- <button
        mat-button
        (click)="endCall()"
      ><mat-icon>phone</mat-icon> End</button> -->
      <button mat-button (click)="closeChat()">
        <mat-icon>close</mat-icon> Close
      </button>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div class="chat-window" #chatWindow>
      @for (message of messages(); track $index) { @if(message?.isSystemMessage)
      {
      <p class="center muted">{{ message.text }}</p>
      }@else{

      <mat-card
        class="message"
        [class.message-align-right]="message.from == fromUser.id"
        [class.message-align-left]="message.from != fromUser.id"
        appearance="outlined"
      >
        <mat-card-content>{{ message.text }}</mat-card-content>
      </mat-card>
      } }
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field style="flex: 1">
      <mat-label>Type a message</mat-label>
      <input
        matInput
        [(ngModel)]="newMessage"
        (keydown.enter)="sendOutgoingMessageEvent()"
        [disabled]="chatActivityState == 'inactive'"
      />
    </mat-form-field>
    <button
      mat-button
      (click)="sendOutgoingMessageEvent()"
      [disabled]="chatActivityState == 'inactive'"
    >
      Send<mat-icon> send </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #callDialog> Incoming call from ID {{ callUser() }} </ng-template>
