<mat-card>
  <mat-card-title>User List
    <button
      mat-button
      (click)="refreshUsersList()"
    ><mat-icon>refresh</mat-icon></button>

  </mat-card-title>
  <mat-list>


    @for (user of users; track user.id) {
    <mat-list-item
      matRipple
      (click)="selectUser(user)"
    >
      <mat-icon matListItemIcon>person</mat-icon>
      <div
        matListItemTitle
        [style.font-weight]="lastMessageForId(user.id)()?.didView ==false ? 'bold':'normal'"
      >{{user.name}}</div>
      <div
        matListItemLine
        [style.font-weight]="lastMessageForId(user.id)()?.didView ==false ? 'bold':'normal'"
      >{{ lastMessageForId(user.id)()?.text }}</div>
    </mat-list-item>
    }
  </mat-list>
</mat-card>
