<div class="button-container">
  <button
    mat-fab
    extended
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
    New category
  </button>
</div>



<div class="card-container">
  @for (category of categoryMap(); track category.id) {

  <mat-card
    class="card mat-mdc-elevation-specific mat-elevation-z10"
    appearance="outlined"
    (click)="openEditDialog(category)"
  >
    <mat-card-header>
      <mat-card-title>{{category.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>{{((category.totalExpense!/category.budget?.maxSpend!)*100).toFixed(1)}}%</b>
        of the budget is used.
      </p>
      <mat-chip>{{category.totalExpense}}/{{category.budget?.maxSpend}}
        <mat-progress-bar
          mode="determinate"
          [value]="(category.totalExpense!/category.budget?.maxSpend!)*100"
        ></mat-progress-bar>
      </mat-chip>
    </mat-card-content>
  </mat-card>
  }@empty {
  <h2 class="center">No category added</h2>
  }

</div>
