<h2 mat-dialog-title>{{_editData?'Update':'New'}} category</h2>
<mat-dialog-content class="mat-typography">
  <!-- add cat form -->
  <form [formGroup]="form">
    <mat-form-field
      appearance="outline"
      class="full-width"
    >
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Enter category name"
        type="text"
        formControlName="name"
      >
      <mat-hint>Example: Food</mat-hint>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="full-width"
    >
      <mat-label>Budget</mat-label>
      <input
        matInput
        placeholder="Enter budget for this category"
        type="number"
        min="0"
        formControlName="budget"
      >
      <mat-hint>Example: 200</mat-hint>

    </mat-form-field>

  </form>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
  >Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    (click)="onCreateCat()"
    [disabled]="form.invalid"
    color="primary"
  >{{_editData?'Update':'Create'}}</button>
</mat-dialog-actions>
