.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  font-weight: bold;
}
table {
  width: 100%;
  table-layout: fixed;
}
tr.mat-mdc-footer-row td {
  font-weight: bold;
}
.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.action-buttons button {
  flex-grow: 1;
}

mat-icon {
  font-size: 24px;
}
