<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="(isHandset$) ? 'over' : 'side'"
    [opened]="!(isHandset$ )"
  >

    <mat-nav-list class="sidenav">
      <a
        mat-list-item
        routerLink="/"
      >Home</a>
      <a
        mat-list-item
        routerLink="/about"
      >About</a>
      <a
        mat-list-item
        routerLink="/services"
      >Services</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      class="fixedToolbar"
    >
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
      ><mat-icon>apps</mat-icon> Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>

    <!-- Main content here -->
    <button
      mat-fab
      color="accent"
      class="fab-bottom-right"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div class="content">
      <h2>Should be visible!!</h2>
      <h2>sdhbcjesdjb</h2>
      <h2>sdhbcjesdjb</h2>
      <h2>sdhbcjesdjb</h2>
      <h2>sdhbcjesdjb</h2>
      <h2>sdhbcjesdjb</h2>
      <h2>sdhbcjesdjb</h2>
      <h2>sdhbcjesdjb</h2>
      <h2>sdhbcjesdjb</h2>
      <h2>sdhbcjesdjb</h2>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quas
        numquam vero, neque, est qui, ad rem odit praesentium minima doloribus
        ut esse? Qui tenetur molestiae sint quisquam vitae doloribus!Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quas
        numquam vero, neque, est qui, ad rem odit praesentium minima doloribus
        ut esse? Qui tenetur molestiae sint quisquam vitae doloribus!Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quas
        numquam vero, neque, est qui, ad rem odit praesentium minima doloribus
        ut esse? Qui tenetur molestiae sint quisquam vitae doloribus!Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quas
        numquam vero, neque, est qui, ad rem odit praesentium minima doloribus
        ut esse? Qui tenetur molestiae sint quisquam vitae doloribus!Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur
        incidunt sapiente quisquam commodi facere? Deserunt vero minima deleniti
        itaque, mollitia consectetur sed vel, rerum architecto provident
        obcaecati
        dolor nihil esse.</p>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
