<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="(isHandset$) ? 'over' : 'side'"
    [opened]="!(isHandset$ )"
  >

    <mat-nav-list class="sidenav">
      <a
        mat-list-item
        routerLink="/"
      >Home</a>
      <a
        mat-list-item
        routerLink="/about"
      >About</a>
      <a
        mat-list-item
        routerLink="/services"
      >Services</a>
      <a
        mat-list-item
        routerLink="/"
      >Login</a>
      <a
        mat-list-item
        routerLink="/"
      >Signup</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      class="fixedToolbar"
    >
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
      ><mat-icon>apps</mat-icon> Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Category</button>
        <button mat-menu-item>Income</button>
        <button mat-menu-item>Budgeting</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>

    <!-- Main content here -->
    <button
      *ngIf="isFabVisible()"
      mat-fab
      color="accent"
      class="fab-bottom-right"
      matTooltip="Add new expenses"
      (click)="openNewExpenseDialog()"
    >
      <mat-icon>{{icon()}}</mat-icon>
    </button>
    <div class="content">
      <!-- testing components here -->

      <!-- <app-login></app-login> -->
      <!-- <app-signup></app-signup> -->
      <!-- <app-category></app-category> -->

      <!-- <app-expense></app-expense> -->
      <app-dashboard></app-dashboard>

      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
