@if (product) {
  <div class="product-detail">
    <div class="product-images">
      <img
        id="main-image"
        [src]="product.imageUrls[0]"
        [alt]="product.title"
      >
      <div class="thumbnails">

        @for (thumbnail of product.imageUrls; track thumbnail) {
        <img
          [src]="thumbnail"
          [alt]="'Thumbnail '+$index+1"
        >
        }
      </div>
    </div>
    <div class="product-info">
      <h1>{{product.title}}</h1>
      <div class="sku">
        <p>SKU: {{product.sku}}</p>
      </div>
      <p class="price">${{product.price}}</p>

      <div class="button-group">
        <button class="btn add-to-cart">Add to Cart</button>
        <button class="btn wishlist">Add to Wishlist</button>
      </div>
      <p class="long-description">
        {{product.description}}
      </p>
    </div>
  </div>
}
