<!-- Mobile Version -->
<div class="container">
  <!-- Only displayed to admin/agent -->
  @if (!selectedUser() && isAdmin()) {
  <app-user-list
    [users]="onlineUsers()"
    (onRefreshUserList)="loadOnlineUsers()"
  ></app-user-list>
  } @if ((isHandset$|async) ===false && selectedUser() && isAdmin()) {
  <app-user-list
    [users]="onlineUsers()"
    (onRefreshUserList)="loadOnlineUsers()"
  ></app-user-list>
  }

  <div class="app-chat-window">
    @if (selectedUser()) {
    <app-chat-window
      [fromUser]="user"
      [chatActivityState]="chatActivityState()"
      (EmitOutgoingMessage)="sendMessageToSelectedUser($event)"
      (EmitCloseChatWindow)="closeChatWindow()"
      (chatWindowLoaded)="loadUserInfo()"
    ></app-chat-window>
    }@else if ((isHandset$|async)===false ||selectedUser() === null ) {
    <!-- <h2 class="center">Select a user to start conversation.</h2> -->
    <div class="center">
      <!-- show user a button? -->
      <button
        *ngIf="!askedForAgent && !isAdmin()"
        mat-button
        mat-raised-button
        color="primary"
        (click)="sendAgentRequestQueue()"
      >
        <mat-icon>play_arrow</mat-icon> Start Conversation
      </button>

      <!-- Waiting message visible after button is clicked -->
      <mat-card *ngIf="askedForAgent || isAdmin()" class="waiting-message">
        <mat-card-title>
          <mat-icon>hourglass_empty</mat-icon> Waiting for
          {{ isAdmin() ? "customer" : "agent" }}...
        </mat-card-title>
      </mat-card>
      <!-- Waiting for {{ isAdmin() ? "customer" : "agent" }}... -->
    </div>
    }
  </div>
  @if (isAdmin() && selectedUser()) {
  <!-- only show to admin -->
  <div class="app-user-info">
    <div class="profile-info">
      <div class="info-row">
        <mat-icon>info</mat-icon>
        <span
          >Name: <b>{{ selectedUserInfo?.name || "N/A" }}</b></span
        >
      </div>
      <div class="info-row">
        <mat-icon>email</mat-icon>
        <span
          >Email: <b>{{ selectedUserInfo?.email || "N/A" }}</b></span
        >
      </div>
      <div class="info-row">
        <mat-icon>calendar_today</mat-icon>
        <span
          >Created At:
          <b>{{ (selectedUserInfo?.createdAt | date) || "N/A" }}</b></span
        >
      </div>
      <div class="info-row" *ngIf="selectedUserInfo?.updatedAt">
        <mat-icon>calendar_today</mat-icon>
        <span
          >Updated At:
          <b>{{ (selectedUserInfo?.updatedAt | date) || "N/A" }}</b></span
        >
      </div>
      <div class="info-row" *ngIf="selectedUserInfo?.deletedAt">
        <mat-icon>delete</mat-icon>
        <span
          >Deleted At:
          <b>{{ (selectedUserInfo?.deletedAt | date) || "N/A" }}</b></span
        >
      </div>
      <div class="info-row">
        <mat-icon>badge</mat-icon>
        <span
          >Role: <b>{{ selectedUserInfo?.role?.roleName || "N/A" }}</b></span
        >
      </div>
      <div class="info-row">
        <mat-icon>verified_user</mat-icon>
        <span
          >Status: <b>{{ selectedUserInfo?.status || "N/A" }}</b></span
        >
      </div>
    </div>
    <div>
      <button
        mat-button
        mat-raised-button
        color="primary"
        (click)="requestTransferUser(selectedUser()?.id)"
        [disabled]="disableTransferButton"
      >
        Transfer chat
      </button>
    </div>
  </div>
  }
</div>

<ng-template #callDialog>
  Incoming call from ID {{ "callUser()" }}
</ng-template>
