.container {
  display: flex;
  height: 100vh;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  app-user-list {
    min-width: 100%;
  }
}

app-user-list {
  flex: 1;
  margin-right: 20px;
  max-width: 25%;
}

.app-chat-window {
  flex: 2;
}
