<div
  class="container"
  *ngIf="!isHandset$"
>
  <app-user-list
    [users]="users"
    (userSelected)="onUserSelected($event)"
    style="max-width: 20%;"
  ></app-user-list>
  <app-chat-window [selectedUser]="selectedUser"></app-chat-window>
</div>

<!-- Mobile Version -->
<div *ngIf="isHandset$">
  <app-user-list
    [users]="users"
    (userSelected)="onUserSelected($event)"
  ></app-user-list>
  <div *ngIf="selectedUser">
    <app-chat-window [selectedUser]="selectedUser"></app-chat-window>
  </div>
</div>
