.container {
  display: flex;
  height: 100vh;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  app-user-list {
    min-width: 100%;
  }
}

app-user-list {
  flex: 1;
  margin-right: 20px;
  max-width: 25%;
}

.app-chat-window {
  flex: 2;
  /* border: 2px solid red; */
}
.app-user-info {
  flex: 2;
  margin-left: 20px;
  max-width: 25%;
  /* border: 2px solid green; */
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.info-row mat-icon {
  margin-right: 8px;
}

.waiting-message {
  margin-top: 20px;
  text-align: center;
  background-color: #f3f4f6;
}
