<h2 mat-dialog-title>{{_editData?'Update':'New'}} Expense</h2>
<mat-dialog-content class="mat-typography">
  <!-- add cat form -->
  <h3
    *ngIf="emptyIncome"
    class="center"
  >
    <mat-error>Add some income before continuing</mat-error>
  </h3>
  <form
    [formGroup]="form"
    *ngIf="!emptyIncome"
  >
    <mat-form-field
      appearance="outline"
      class="full-width"
    >
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Where you spent the money"
        formControlName="name"
      >
      <mat-hint>Example: Food</mat-hint>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class="full-width"
    >
      <mat-label>Category</mat-label>
      <mat-select
        formControlName="category"
        placeholder="Select a catagory"
      >
        @for (category of categories(); track category.id) {
        <mat-option [value]="category.id">{{category.title}}</mat-option>
        }@empty {
        <mat-option disabled>Create a category first</mat-option>

        }
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="full-width"
    >
      <mat-label>Expense</mat-label>
      <input
        matInput
        type="number"
        min="0"
        placeholder="Enter How much did you spend"
        formControlName="expense"
      >
      <mat-hint>Example: 200</mat-hint>

    </mat-form-field>

  </form>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
  >Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    [disabled]="form.invalid||emptyIncome"
    (click)="onCreateExpense()"
    color="primary"
  >{{_editData?'Update':'Create'}}</button>
</mat-dialog-actions>
