<div class="product-card">
  <a [routerLink]="['/products',product.id]">
    <div class="product-image-wrapper">
      <img
        [src]="product.imageUrls[0]"
        alt="{{ product.title }}"
        class="product-image"
      />
    </div>
  </a>
  <div class="product-info">
    <a [routerLink]="['/products',product.id]">
      <h3 class="product-title">{{ product.title }}</h3>
    </a>
    <div class="button-group">
      <button
        class="btn"
        (click)="addToCart()"
        [class.red]="inCart()!=undefined"
        title="Add to Cart"
      ><i class="fa-solid fa-cart-plus"></i></button>
      <!-- <sup style="color: white; font-size: 0.8rem;">{{inCart()?.quantity}}</sup> -->
      <button
        class="btn"
        (click)="addtoWishList()"
        title="Add to wishlist"
        [class.red]="inWishList()"
      ><i class="fa-solid fa-heart"></i></button>
      <button
        class="btn"
        *ngIf="isAdmin()"
        title="Delete product"
        (click)="deleteProduct()"
      ><i class="fa-solid fa-trash"></i></button>
      <!-- <button
        class="btn"
        *ngIf="isAdmin()"
        title="Edit product"
      ><i class="fa-solid fa-pen"></i></button> -->
    </div>
  </div>
</div>
