<mat-toolbar>
  <button
    mat-icon-button
    (click)="snav.toggle()"
  ><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">{{title}}</h1>
</mat-toolbar>
<mat-sidenav-container
  class="example-sidenav-container"
  [style.marginTop.px]="56"
>
  <mat-sidenav
    #snav
    [mode]="'side'"
    [fixedInViewport]=""
    fixedTopGap="56"
  >
    <mat-nav-list>
      <!-- @for (nav of fillerNav; track nav) {
      <a
        mat-list-item
        routerLink="."
      >{{nav}}</a>
      } -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <h2>wsknmxz,iuf</h2>
  </mat-sidenav-content>
</mat-sidenav-container>
