<div class="flex-container button-container">
  <button
    mat-fab
    extended
    class="fab"
    (click)="openNewExpenseDialog()"
  >
    <mat-icon>add</mat-icon>Expense
  </button>
  <button
    mat-fab
    extended
    class="fab"
    (click)="openNewCategoryDialog()"
  >
    <mat-icon>add</mat-icon>Category
  </button>
  <button
    mat-fab
    extended
    class="fab"
    (click)="openNewIncomeialog()"
  >
    <mat-icon>add</mat-icon>
    Income
  </button>
</div>
<div class="flex-container">
  <!-- chart container -->
  <div
    class="chart-container"
    style="flex: 2;"
  >

    <app-line-chart></app-line-chart>
  </div>
  <div
    class="chart-container"
    style="flex: 1;"
  >

    <app-pie-chart></app-pie-chart>
  </div>

</div>
<div
  class="flex-container"
  style="margin-top: 1rem;"
>
  <!-- chart container -->
  <div
    class="chart-container"
    style="flex: 1;"
  >
    <app-bar-chart></app-bar-chart>
  </div>
</div>
<div class="flex-container mt-1rem ">
  <div style="flex: 1;">
    <app-expense-table class="full-width"></app-expense-table>
  </div>
  <div style="flex: 1;">
    <app-income-table class="full-width"></app-income-table>
  </div>
</div>