<header>
  <!-- Navigation Menu -->
  <nav class="navbar">
    <div class="logo kanit-medium">MyStore</div>
    <button
      class="menu-toggle"
      aria-label="Toggle menu"
      #menuToggle
      (click)="onClickExpand()"
    >&#9776;</button>
    <ul
      class="nav-list"
      #menuList
    >
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Login/Signup</a></li>
      <li><a href="#">New Product</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>
</header>
