<header>
  <!-- Navigation Menu -->
  <nav class="navbar">
    <div class="logo kanit-medium">MyStore</div>
    <button
      class="menu-toggle"
      aria-label="Toggle menu"
      #menuToggle
      (click)="onClickExpand()"
    >&#9776;</button>
    <ul
      class="nav-list"
      #menuList
    >
      <!-- <li><a
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >Home</a></li> -->
      <li><a
          [routerLink]="
          ['/products']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >Products</a></li>
      <li *ngIf="isAuthenticated()"><a
          [routerLink]="
                ['user','wishlist']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >Wishlist <sup>({{wishList().length}})</sup> </a></li>
      <li *ngIf="isAuthenticated()"><a
          [routerLink]="
                  ['user','cart']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >Cart<sup>({{cart().length}})</sup></a></li>

      <li *ngIf="!isAuthenticated()"><a
          [routerLink]="['/user/login']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >Login</a></li>
      <li *ngIf="!isAuthenticated()"><a
          [routerLink]="['/user/signup']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >Signup</a></li>
      <li *ngIf="isAdmin()"><a
          [routerLink]="['products','new']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
        >New Product</a></li>
      <li *ngIf="isAuthenticated()"><a
          [routerLink]="['user','profile']"
          routerLinkActive="active"
        >{{user() != null ? user()?.user?.name : ''}}</a></li>
      <li *ngIf="isAuthenticated()"><a
          (click)="logoutUser()"
          href="#"
        >Logout</a></li>
    </ul>
  </nav>
</header>
