<div class="cart-container">
  <div class="cart-items">
    <!-- <app-cart-item />
    <app-cart-item />
    <app-cart-item />
    <app-cart-item />
    <app-cart-item />
    <app-cart-item />
    <app-cart-item /> -->

    <!-- Add more products as needed -->
  </div>
  <div class="cart-summary">
    <h2>Summary</h2>
    <div class="summary-item">
      <span>Subtotal</span>
      <span>$30.00</span>
    </div>
    <div class="summary-item">
      <span>Tax</span>
      <span>$2.70</span>
    </div>
    <div class="summary-item total">
      <span>Total</span>
      <span>$32.70</span>
    </div>
    <button class="checkout-btn">Proceed to Checkout</button>
  </div>
</div>
